
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: bisque;
    color: red;
    line-height: 1;
}
header, nav, main, footer {
    padding: 10px;
    text-align: center;
  background-color: burlywood;
    margin: 10px;
}
/*ini untuk header*/
header {
    background-color: black;
    color: gold;
    padding-bottom: 0;
    text-align: center;
    font-family: arial, sans-serif;
}
/*ini untuk navigasi*/
nav {
    background-color: black;
}

nav ul {
    padding: 0;
    list-style: none;
    color: gold;
}

nav li {
    display: inline;
    margin: 10px;
    color: gold;
}

nav a {
    color: gold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}
nav a:hover {
     background-color: white;
}
/*ini untuk konten*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 10px;align-items: center;
    border-radius: 8px;
    width: 90%;
}
.container {
    display: flex;
}
.content-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-item {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border: 10px; 
    border-radius: 8px;
    background-color: black;
}
/*ini untuk footer*/
footer {
    background-color: black;
    color: gold;
    text-align: center;
    padding: 20px;
}


